/* BASIC */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    width: 100%;
    height: 150vh;
}

/* HEADER */
header {
    background-color: #00ccff;
    /* bright orange */
    color: white;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    /* arrange items in a row */
    align-items: center;
    /* center vertically */
    justify-content: space-between;
    /* equal space between sections */
    padding: 12px 20px;
    flex-wrap: wrap;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    /* wrap content on small screens */
}
.header a {
    float: left;
    display: block;
    color: rgb(209, 25, 25);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  

/* Logo text */
.logo h1 {
    margin: 10;
    font-size: 24px;
}

/* Remove default list style and create horizontal navigation */
nav ul {
    list-style: none;
    /* no bullets */
    margin: 0;
    padding: 0;
    display: flex;
    /* horizontal layout */
    gap: 10px;
    /* space between links */
    align-items: center;
    flex-wrap: wrap;
}

/* Navigation links */
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* remove underline */
    font-weight: bold;
    transition: opacity 0.2s;
    /* smooth hover effect */
}

/* Hover effect for menu items */
nav ul li a:hover {
    opacity: 9.8;
}

/* Search box container */
.search-box {
    display: flex;
    align-items: center;
    margin-top: 6px;
}

/* Search text field */
.search-box input {
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
    outline: none;
}

/* Search button */
.search-box button {
    margin-left: 8px;
    padding: 7px 12px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: #ff6600;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

/* Change button background when hovering */
.search-box button:hover {
    background-color: #140a02;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav a.active {
    text-decoration: underline;
    font-weight: bold;
}

/* HERO BANNER */
.hero {
    background: url('camping-banner.jpg') center/cover no-repeat;
    padding: 70px 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}


/* MAIN CONTENT */
.content {
    width: 80%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000022;
}

.content h2 {
    color: #1b4d2e;
    margin-top: 25px;
}

ul li {
    margin-bottom: 8px;
}

/* FOOTER */
footer {
    background: #1b4d2e;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}