/* =========================================
   ITEM LIST PAGE STYLE
   ========================================= */

.item-section {
    text-align: center;
    padding: 10px 20px;
    background-color: #fff;
    min-height: 10vh;
}

.item-section h5 {
    color: #020202;
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 2px;
}

/* Grid layout for items (3 per row) */
.item-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    justify-items: center;
    padding: 0 1px;
    
}

/* Individual item box */
.item-card {
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 2px;
    width: 330px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-card:hover {
    transform: translateY(-50px);
    transform: scale(110%);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

/* Item image */
.item-card img {
    width: 325px;
    height: 200px;
    border-radius: 8px;
    object-fit: fill;
    text-align: center;
}

/* Item name and price */
.item-card h3 {
    margin: 15px 0;
    color: #333;
}

/* Add to Cart button */
.add-cart-btn {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-cart-btn:hover {
    background-color: #3df518;
}

/* Responsive layout for smaller screens */
@media (max-width: 1024px) {
    .item-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 768px) {
    .item-grid {
        grid-template-columns: 10fr;
    }
}