

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../images/login-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Header main container */

.login-container {
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url("../images/container image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 200px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.5);
    width: 320px;
    color: white;
    text-align: center;

}


.login-form h2 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 28px;
    color: #ffcc00;

}


.login-form label {
    text-align: center;
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;

}

/* -----------------------------------------
   Input fields (username & password)
   ----------------------------------------- */
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;

}

/* -----------------------------------------
   Submit button
   ----------------------------------------- */
.login-form input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #ff6600;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
   
}

/* Hover effect for submit button */
.login-form input[type="submit"]:hover {
    background-color: #ffcc00;
    color: #333;
    transform: translateY(-5px);
    
}



.login-button {
    background-position: center;
    display: block;
    width: 107%;
    padding: 12px;
    background-color: #607e4c;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.login-button:hover {
    background-position: center;
    background-color: #00fff2;
    color: #333;
    transform: translateY(-2px);
}




.login-tagline {
    font-size: 16px;
    margin-bottom: 20px;
    color: #04c9fa;
    text-align: center;
}



.login-form .form-links {
    margin-top: 15px;
    font-size: 13px;

}

.login-form .form-links a {
    color: #00e1ff;
    text-decoration: none;
}

.login-form .form-links a:hover {
    text-decoration: underline;
}

#message{
    margin-top: 20px;
    color: green;
    font-weight: bold;
}

/* -----------------------------------------
   Responsive Design (Mobile Screens)
   ----------------------------------------- */
@media (max-width: 400px) {
    .login-container {
        width: 90%;
        padding: 30px 20px;
    
    }
